fastapi==0.112.0
uvicorn==0.30.0
sqlmodel==0.0.21
python-dotenv==1.0.1
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
requests==2.32.0
langchain-google-genai==1.0.7
langchain-core==0.2.20
alembic==1.13.2
psycopg2-binary==2.9.9
slowapi==0.1.9